<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.melody.emptyapplication">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.EmptyApplication">
        <activity android:name=".LayoutActivity"></activity>
        <!--
android.intent.action.MAIN：决定应用的入口Activity，也就是我们启动应用时首先显示哪一个Activity。
android.intent.category.LAUNCHER：表示activity应该被列入系统的启动器(launcher)(允许用户启动它)，即在桌面上创建对应图标。
Launcher是安卓系统中的桌面启动器，是桌面UI的统称。
        -->
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SecondActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="action.secondAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>